.el-breadcrumb .el-breadcrumb__inner {
  color: #4b4d52;
  font-weight: 100;
}

.el-breadcrumb .el-breadcrumb__separator {
  margin: 0 5px;
  font-weight: 100;
}

.el-table .el-table__header thead th {
  background: #e6ebf5;
  color: #3c464e;
}

#nprogress .bar {
  background: #812cb2 !important;
}

#nprogress .spinner-icon {
  border-top-color: #812cb2 !important;
  border-left-color: #812cb2 !important;
}